<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="communityMapper">

	<select id="getMaxSeq" resultType="Integer">
		select max(seq) as max 
		from t_bbs_genre
	</select>
	
	<insert id="putBbs" parameterType="model.BbsGenre">
		insert into t_bbs_genre values (
		#{seq}, #{group_id}, #{parent_id}, #{view_order}, #{user_id}, #{header_id}, 
		#{post_title}, #{post_pw}, #{reg_date}, #{post_content}, 
		#{image1}, #{image2}, #{image3}, #{image4}, #{image5}, #{view_count}
		)
	</insert>
	
	<select id="getBbsCount" resultType="Integer">
		select count(*) as cnt 
		from t_bbs_genre
	</select>
	
	<select id="getBbs" parameterType="model.Paging" resultType="model.BbsGenre">
		select seq, header_name, post_title, header_name, nickname, reg_date, image1, image2, image3, image4, image5, post_content, view_count
		from (
			select a.*, rownum rn 
			from ( 
			select * from v_bbs_genre order by group_id desc, view_order asc 
			) a
		)
		where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="getBbsDetail" parameterType="Integer" resultType="model.BbsGenre">
		select seq, group_id, parent_id, view_order, header_id, header_name, post_title, post_pw, post_content, nickname, reg_date, image1, image2, image3, image4, image5, view_count
		from v_bbs_genre
		where seq = #{seq}
	</select>
	
	<select id="getHeader" resultType="model.Header">
		select header_id, header_name 
		from t_header order by header_id
	</select>
	
	<select id="getUser"  parameterType="String" resultType="String">
		select nickname
		from t_user
		where user_id = #{user_id}
	</select>

	<update id="updateViewCount" parameterType="model.BbsGenre">
		update t_bbs_genre 
		set view_count = #{view_count} 
		where seq = #{seq}
	</update>
	
	<update id="updateBbs" parameterType="model.BbsGenre">
		update t_bbs_genre 
		set header_id = #{header_id}, post_title = #{post_title}, post_content = #{post_content}, 
		image1 = #{image1}, image2 = #{image2}, image3 = #{image3}, image4 = #{image4}, image5 = #{image5} 
		where seq = #{seq}
	</update>
	
	<delete id="deleteBbs" parameterType="Integer">
		delete from t_bbs_genre
		where seq = #{seq}
	</delete>
	
	<update id="updateViewOrder" parameterType="model.BbsGenre">
		update t_bbs_genre 
		set view_order = view_order + 1
		where group_id = #{group_id} 
		and view_order >= #{view_order}		
	</update>

	<insert id="putReply" parameterType="model.ReplyGenre">
		insert into t_reply_genre values (
		#{seq}, #{re_seq}, #{re_group}, #{re_parent}, #{re_view}, 
		#{user_id}, #{re_reg}, #{re_comment}
		)
	</insert>
	
	<select id="getMaxReplySeq" resultType="Integer">
		select max(re_seq) as max 
		from t_reply_genre
	</select>

	<update id="updateReView" parameterType="model.ReplyGenre">
		update t_reply_genre 
		set re_view = re_view + 1
		where re_group = #{re_group} 
		and re_view >= #{re_view}
	</update>

	<select id="getReply" parameterType="Integer" resultType="model.ReplyGenre">
		select seq, re_seq, re_group, re_parent, re_view, user_id, nickname, re_reg, re_comment
		from v_reply_genre 
		where seq = #{SEQ}
		order by re_group asc, re_view asc 
	</select>

	<delete id="deleteReply" parameterType="model.ReplyGenre">
		delete from t_reply_genre
		where seq = #{seq} and re_seq = #{re_seq}
	</delete>

</mapper>















